# use with appropriate CFLAGS for GDAL header files
# e.g. Ubuntu: CFLAGS=-I/usr/include/gdal pip install -r requirements.txt
# Use same GDAL version as installed on your system
# see gdal-config --version

django==1.11
GDAL==2.2.2
six==1.10
future==0.15.2
backports.csv==1.0.1
